         h2{
         text-align:left;
         }
    
      footer{
             text-align:center;
         }
         
         img{
              float: none;
            
         }
       
         body{
             background-color:#c0c0c0;
             text-align: center;
         }
         
       
         
         hr{
            text-align:right; 
         }
          footer {
                text-align: center; 
                color:red;
                background-color:gray;
            }
        h1{
            color:red;
        }